extends ../layout

block content
  h1 Zordon
  h2= projectName
  p Created by: #{createdByName}
  p Tasks: #{tasks.replace(/\n/g, '<br />')}

  ul
    li: a(href="/project/edit/#{projectId}") Edit project info
    li: a(href="/project/delete/#{projectId}") Delete project
    li: a(href="/user") My profile
